.profileInfo {
    padding: 0;

    img {
        width: 7em;
    }
}

.contacts {
    display: flex;
    justify-content: flex-start;
}

.contacts > a {
    flex: 1;
    display: block;
    text-decoration: none;
    color: var(--light-color);
    padding: 0.5em;
    margin-right: 0.1em;
    background-color: var(--dark-color);
}
